<div class="b-example-divider">
</div>
<div class="container"> 
  <footer class="py-3 my-4"> 
    <ul class="nav justify-content-center border-bottom pb-3 mb-3
      <li class="nav-item">
      <a href="https://www.cavotec.com/en/" class="nav-link px-2 text-body-secondary">Home</a>
    </li>  
      <li class="nav-item">
        <a href="https://www.cavotec.com/en/our-solutions" class="nav-link px-2 text-body-secondary">Solutions</a>
      </li> 
      <li class="nav-item">
        <a href="https://www.cavotec.com/en/legal-information/terms-conditions" class="nav-link px-2 text-body-secondary">Terms & Conditions</a></li>
      <li class="nav-item"><a href="https://www.cavotec.com/en/about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul> <p class="text-center text-body-secondary">&copy; 2025 Company, Inc</p> 
  </footer>
</div>
<div class="b-example-divider"></div> <div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"> <div class="col mb-3">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap"> <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg> </a>  </div>